 .toggle-button {
   display: flex;
   flex-direction: column;
   height: 34px;
   width: 30px;
   justify-content: space-around;
   background: transparent;
   border: none;
   cursor: pointer;
   padding: 0;
   box-sizing: border-box;
   color: white;

 }
 .toggle-button:focus{
   outline: none;
 }

.toggle-button__line{
  width: 30px;
  height:1px;
  background: white;
}
