.side-drawer {
  height: auto;
  background: #43464b;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: auto;
  left: auto;
  width: 100%;
  max-width: 20em;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0) ;
}
.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.side-drawer li:hover{
  color: red;
  background-color: red;
  left: 2em;
}
.side-drawer a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.side-drawer li{
  margin: 0.5rem 0;
  animation: nav-item-fade-in 1s ease-in-out;
}
