.side-drawer {
  height: 100%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
}
.side-drawer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.side-drawer a{
  color: red;
  text-decoration: none;
  font-size: 1.2rem;
}
.side-drawer li{
  margin: 0.5rem 0;
}
