.side-drawer {
  height: 100%;
  background: #43464b;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0) ;
}
.side-drawer ul {
height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-drawer li:hover{
  color:#2864c4;

  background-color:#000000;

  margin-left:-20px;

  padding-left:20px;

  padding-right:20px;

  width:100%;}
.side-drawer a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
.side-drawer li{
  margin: 0.5rem 0;
}
